PORT=4000
DATABASE_URL="file:./dev.db"
CLIENT_DIST_PATH=../client/dist
# Опциональный исходящий прокси только для Telegram Bot API
# TELEGRAM_PROXY_URL=http://1.2.3.4:8080
# TELEGRAM_PROXY_USERNAME=proxy_user
# TELEGRAM_PROXY_PASSWORD=proxy_password
